/* .App {
} */

:root {
  --secoundary: #6c6ca2;
  --bg-color: #161625;
  --font-color: #fff;
  --card-color: #343a40;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
}

a {
  text-decoration: none;
  color: inherit !important;
}

.App-logo {
  margin-top: 125px;
  height: 40vmin;
  pointer-events: none;
}

.aboutImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 13s linear;
  }
} */
.App-logo {
  animation: App-logo-spin infinite 13s linear;
}

.heroImg {
  /* background-color: #282c34; */
  background-image: url(./images/splash1.jpg);
  /* min-height: 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heroContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.heading {
  font-size: calc(1.375rem + 1.5vw) !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.card {
  background-color: var(--card-color) !important;
}

.carousel-indicators {
  bottom: -30px !important;
}

.portfolio-img {
  height: 390px !important;
}

.service-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheading {
  text-align: center;
}

.service1 {
  background-image: url(./images/colorful-mac-side.jpg);
  display: block;
  width: 100vw;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 400px;
}
.service2 {
  background-image: url(./images/laptop-repair.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}
.service3 {
  background-image: url(./images/clean-dark-desk.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}

.slider-image {
  max-height: 160px;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.thumb {
  width: 15%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* On smaller screens */
@media screen and (max-width: 1024px) {
  .thumb {
    width: 18%;
  }
}
/* On large screens */
@media screen and (min-width: 1024px) {
  .slider-image {
    max-height: 200px;
    width: auto;
  }
}
/* On mobile phone screens */
@media screen and (max-width: 750px) {
  .carousel {
    flex-direction: column;
    align-items: center;
  }
  .slider-image {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 175px;
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 95vw !important;
}
