:root {
  --secondary: #6c6ca2;
  --bg-color: #161625;
  --font-color: #fff;
  --card-color: #343a40;
  --btn-color: #5c5cc9;
  --btn-active: #47479b;
}

body,
html {
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
  min-width: 100vw !important;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  color: #c7c7c7 !important;
}

input,
textarea {
  background-color: var(--card-color) !important;
  color: var(--font-color) !important;
}

.btn-primary {
  background-color: var(--btn-color) !important;
  border-color: var(--btn-color) !important;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled) {
  background-color: var(--btn-active) !important;
  border-color: var(--btn-active) !important;
  color: var(--font-color) !important;
  box-shadow: none !important;
}

#bootstrap-img,
#mysql-img {
  max-height: 150px !important;
}

#mongodb-img {
  max-width: 400px;
}

#about .heading,
#resume .heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#contact,
#about,
#services {
  background-color: var(--secondary);
}

#contact {
  min-height: 80vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-wrapper {
  display: flex;
  align-content: center !important;
}

.stackoverflow {
  transform: scale(1.5) !important;
}

.navbar-nav .active {
  text-underline-offset: 6px;
  text-decoration: underline !important;
}

.App-logo {
  margin-top: 20px;
  height: 40vmin;
  pointer-events: none;
}

.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 13s linear;
  }
} */
.App-logo {
  animation: App-logo-spin infinite 13s linear;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

/* .buttonWrapper .btn {
  background-color:  !important;
} */

.card {
  background-color: var(--card-color) !important;
}

.carousel {
  display: flex;
}

.carousel-indicators {
  bottom: -50px !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 95vw !important;
}
#footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-icon-wrapper {
  /* padding-left: 10px;
  padding-right: 10px; */
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-height: 40px;
  width: auto;
}
.github {
  padding-right: 1rem;
}

.form-control {
  border: none !important;
}

.heroImg {
  /* background-color: #282c34; */
  background-image: url(./images/minified/hero.min.jpg);
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding-bottom: 60px; */
}

.heroContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.heading {
  font-size: calc(1.375rem + 1.5vw) !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.list-group {
  max-width: 450px;
}

.list-group-item {
  background-color: var(--secondary-color) !important;
  color: var(--font-color) !important;
  width: 100%;
  /* border: hidden !important; */
  border-color: rgb(174, 174, 174) !important;
}

.service-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheading {
  text-align: center;
}

.service1 {
  background-image: url(./images/minified/colorful-mac.jpg);
  display: block;
  width: 100vw;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}
.service2 {
  background-image: url(./images/minified/laptop-repair.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}
.service3 {
  background-image: url(./images/minified/collab.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}

.service-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slider-image {
  /* max-height: 160px; */
  height: auto;
  max-height: 260px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.thumb {
  width: 15%;
}

#webpack-img {
  transform: scale(1.3);
  /* padding-bottom: 1rem; */
}

#ipados-img,
#ios-img {
  transform: scale(0.9);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* On smaller screens */
@media screen and (max-width: 1024px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;
  }
  .slider-image {
    /* transform: scale(0.6); */
    max-height: 160px;
    width: auto !important;
    max-width: 90% !important;
  }
  #webpack-img {
    padding-bottom: 1rem;
  }
  #mongodb-img {
    max-width: 80% !important;
    /* transform: scale(.8); */
  }
  .thumb {
    width: 18%;
  }

  #carousel .heading {
    padding-bottom: 0 !important;
  }
}
/* On Medium Screens */
@media screen and (max-width: 768px) {
  .service-heading {
    padding-top: 2rem;
  }
}
/* md breakpoint */
@media screen and (max-width: 968px) {
  .about-content {
    padding-top: 2rem;
  }
  .btn {
    padding: 10px !important;
  }
}

/* On large screens */
@media screen and (min-width: 1024px) {
  .carousel {
    justify-content: space-evenly;
  }
  #apollo-img {
    width: 30% !important;
    height: auto !important;
  }

  .slider-image {
    max-height: 200px;
    width: auto;
  }
  .carousel-control-prev {
    left: -5rem !important;
  }
  .carousel-control-next {
    right: -5rem !important;
  }
}
/* On mobile phone screens */
@media screen and (max-width: 750px) {
  .slider-image {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 175px;
  }
}
